.subtitle {
    @include subtitle;
    color: $title-color;
    position: relative;
    padding-left: 60px;

    &::before {
        content: '';
        background-color: $primary-color;
        width: 50px;
        height: 2px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
    }
}

.title {
    @include title;
    color: $title-color;
    span {
        display: inline-block;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 100%;
            bottom: 5px;
            left: 0;
            background-color: $primary-color-opacity;
        }
    }
}

.text {
    @include text-main;
    color: $text-color;
}

.btn {
    &-primary,
    &-secondary {
        width: 200px;
        display: inline-block;
        text-decoration: none;
        @include text-main-roboto;
        text-align: center;
        padding: 10px 20px;
        color: $text-secondary-color;
        transition: $transition-time;
    }
    &-primary {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        &:hover {
            background-color: transparent;
            color: $primary-color;
        }
    }
    &-secondary {
        background-color: $title-color;
        border: 2px solid $title-color;
        &:hover {
            background-color: transparent;
            color: $title-color;
        }
    }
}

.social {
    display: flex;
    align-items: center;

    &-item {
        margin-right: 15px;
    }
    &-icon {
        display: block;

        svg {
            path {
                transition: $transition-time;
                fill: $title-color;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $primary-color;
                }
            }
        }
    }
}

.mail {
    display: flex;
    align-items: center;
    &-img {
        height: 18px;
        margin-right: 5px;
    }
    &-text {
        @include title;
        color: $title-color;
        font-size: 16px;
        min-width: 110px;
        display: flex;
        align-items: center;
    }
    &-ref {
        @include text-main-roboto;
        color: $title-color;
        transition: $transition-time;
        &:hover {
            text-decoration: underline;
        }
    }
}
