.header {
    height: 100vh;
    background: url(../img/header-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $header-overlay-color;
    }

    &-navbar {
        position: fixed;
        z-index: 20;
        width: 100%;
        transition: $transition-time;

        &-inner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 80px;
        }
        &__list {
            display: flex;
            &-item {
                margin-left: 20px;
            }
        }
        &-ref {
            @include text-main-roboto;
            color: $title-color;
            padding: 5px 15px;
            border-bottom: 3px solid transparent;
            transition: $transition-time;

            &:hover {
                border-bottom: 3px solid $primary-color;
            }
        }

        &-burger {
            display: none;
        }

        // &-burger {
        //     display: block;
        //     height: 20px;
        //     width: 30px;
        //     cursor: pointer;
        //     position: relative;
        //     z-index: 11;

        //     &::before,
        //     &::after,
        //     span {
        //         display: block;
        //         content: '';
        //         background-color: $title-color;
        //         position: absolute;
        //         width: 100%;
        //         height: 2px;
        //         left: 0;
        //         transition: $transition-time;
        //     }
        //     &::before {
        //         top: 0;
        //     }
        //     &::after {
        //         bottom: 0;
        //     }
        //     span {
        //         top: 9px;
        //     }
        //     &:hover {
        //         &::before,
        //         &::after,
        //         span {
        //             background-color: $primary-color;
        //         }
        //     }
        // }
    }
    &-content {
        position: relative;
        z-index: 5;
        height: 100%;
        &-inner {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-wrapper {
            margin-left: 150px;
        }
        &__subtitle {
            @include subtitle-large;
        }
        &__title {
            @include title-large;
            color: $title-color;
            margin: 30px 0;

            span {
                font-size: 36px;
                color: $primary-color;
            }
        }
        &__info {
            @include subtitle-large;
            color: $title-color;
            margin-bottom: 30px;
        }
        &__btns {
            .btn-secondary {
                margin-left: 30px;
            }
        }

        &__social {
            margin-top: 40px;
            &-item {
                margin-right: 25px;
                height: 40px;
                width: 40px;
            }
        }
    }
}
