@mixin roboto {
    font-family: 'Roboto Slab', serif;
}

@mixin pt-sans {
    font-family: 'PT Sans', sans-serif;
}

@mixin text-main {
    @include pt-sans;
    font-size: 16px;
    line-height: 1.867;
    font-weight: 400;
}

@mixin text-main-roboto {
    @include roboto;
    font-size: 16px;
    line-height: 1.571;
    font-weight: 400;
}

@mixin subtitle-large {
    @include roboto;
    font-size: 28px;
    font-weight: 400;
}
@mixin subtitle {
    @include roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.364;
}

@mixin title-large {
    @include roboto;
    font-size: 48px;
    font-weight: 700;
}

@mixin title {
    @include roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.389;
}
