$transition-time: 0.3s;

$title-letter-spacing: 0.03em;

$text-letter-spacing: 0.05em;

$title-color: rgb(50, 50, 50);
$text-color: rgb(112, 112, 112);
$text-secondary-color: rgb(255, 255, 255);

$primary-color: rgb(0, 184, 148);
$primary-color-opacity: rgba(0, 184, 148, 0.2);

$section-bg-color: rgb(245, 246, 251);

$header-overlay-color: rgba(255, 255, 255, 0.851);

// $breakpoints: (
//   "phone"       : 400px,
//   "phone-wide"  : 480px,
//   "phablet"     : 560px,
//   "tablet-small": 640px,
//   "tablet"      : 768px,
//   "tablet-wide" : 1024px,
//   "desktop"     : 1248px,
//   "desktop-wide": 1440px
// );
