.works {
    &-inner {
        padding: 90px 0 90px;
    }
    &__title-1 {
        margin-top: 40px;
        margin-bottom: 5px;
    }
    &__title-2 {
        margin-bottom: 40px;
    }

    &__list {
        &-items {
        }
    }

    &-card {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        min-width: 320px;
        max-width: 480px;
        max-height: 360px;
        text-align: center;
        background-color: $works-card-bg-color;
        box-shadow: -1px 1px 15px -5px $title-color;

        &__img {
            height: 390px;
            opacity: 1;
            transform: translate3d(0, -30px, 0);
            transition: opacity 0.35s, transform 0.35s;
        }

        &__caption {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: $text-secondary-color;
            padding: 60px 70px;

            &::after,
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                opacity: 0;
                transition: opacity 0.35s, transform 0.35s;
            }
            &::after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid $text-secondary-color;
                border-left: 1px solid $text-secondary-color;
                transform: scale(1, 0);
                transform-origin: 100% 0;
            }
            &::before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid $text-secondary-color;
                border-bottom: 1px solid $text-secondary-color;
                transform: scale(0, 1);
                transform-origin: 0 0;
            }

            &-title {
                padding-top: 5%;
                @include text-main-roboto;
                font-size: 24px;
                opacity: 0;
                transition: opacity 0.5s, transform 0.35s;
                transform: translate3d(0, -30px, 0);
            }
            &-text {
                @include text-main;
                opacity: 0;
                margin-top: 15px;
                transform: translate3d(0, 20px, 0);
                transition: opacity 0.5s, transform 0.4s;
            }
            &-icons {
                display: flex;
                justify-content: space-between;
                max-width: 130px;
                margin: 20px auto 0;

                opacity: 0;
                transform: translate3d(0, 20px, 0);
                transition: opacity 0.5s, transform 0.4s;

                &-item {
                    height: 50px;
                    width: 50px;
                }
            }
            &-ref {
                svg {
                    path {
                        fill: $text-secondary-color;
                        transition: $transition-time;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $title-color;
                        }
                    }
                }
            }
        }

        &:hover &__img {
            opacity: 0.3;
            transform: translate3d(0, 0, 0);
            transition-delay: 0.15s;
        }

        &:hover &__caption {
            &::after,
            &::before {
                opacity: 1;
                transform: scale(1);
            }
            &::after {
                transition-delay: 0.15s;
            }

            &-title,
            &-text,
            &-icons {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-delay: 0.15s;
            }
        }
    }
}
