.works {
    &-inner {
        padding: 90px 0 90px;
    }
    &__title-1 {
        margin-top: 40px;
        margin-bottom: 5px;
    }
    &__title-2 {
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        &-items {
            padding: 10px 10px;
            flex-basis: 33.33%;
        }
    }

    &-card {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 100%;
        text-align: center;
        box-shadow: -1px 1px 15px -5px $title-color;

        &__img {
            position: relative;
            overflow: hidden;
            width: 100%;
            vertical-align: bottom;
        }

        &__caption {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: $text-secondary-color;
            padding: 50px 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            z-index: 1;
            background-color: transparent;
            transition: 0.35s;

            &::after,
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                opacity: 0;
                transition: opacity 0.35s, transform 0.35s;
            }
            &::after {
                top: 20px;
                right: 40px;
                bottom: 20px;
                left: 40px;
                border-right: 1px solid $text-secondary-color;
                border-left: 1px solid $text-secondary-color;
                transform: scale(1, 0);
                transform-origin: 100% 0;
            }
            &::before {
                top: 40px;
                right: 20px;
                bottom: 40px;
                left: 20px;
                border-top: 1px solid $text-secondary-color;
                border-bottom: 1px solid $text-secondary-color;
                transform: scale(0, 1);
                transform-origin: 0 0;
            }

            &-title {
                @include text-main-roboto;
                font-size: 24px;
                opacity: 0;
                transition: opacity 0.35s, transform 0.35s;
                transform: translate3d(0, -30px, 0);
            }
            &-text {
                @include text-main;
                opacity: 0;
                margin-top: 10px;
                transform: translate3d(0, 20px, 0);
                transition: opacity 0.35s, transform 0.4s;
            }
            &-icons {
                display: flex;
                opacity: 0;
                transform: translate3d(0, 20px, 0);
                transition: opacity 0.35s, transform 0.4s;

                &-item {
                    margin: 15px 15px 0 15px;
                    height: 50px;
                    width: 50px;
                }
            }
            &-ref {
                svg {
                    path {
                        fill: $text-secondary-color;
                        transition: $transition-time;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $title-color;
                        }
                    }
                }
            }
        }

        &:hover &__caption {
            background-color: $works-card-bg-color;

            &::after,
            &::before {
                opacity: 1;
                transform: scale(1);
            }
            &::after {
                transition-delay: 0.15s;
            }

            &-title,
            &-text,
            &-icons {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-delay: 0.15s;
            }
        }
    }
}
